table > thead{
    font-size: 16px !important;
}
table > tbody{
    font-size: 14px !important;
}

.ctm-btn-td{
    width: 10%;
    text-align: center;
}

.modal-full-width{
    width: 100% !important;
}